<template>
    <div>
        <h1>Admin Panel - CRUD</h1>

        <Projects/>
    </div>
</template>
<script>
    import Projects from "./Projects"

    export default {
        components: {
            Projects
        },
        data() {
            return {

            }
        }
    };
</script>
