<template>
    <div>
        <h1>Client Panel - Read-only</h1>
        <Projects v-bind:readOnly=true />
    </div>
</template>
<script>
    import Projects from "./Projects"
    export default {
        components: {
            Projects
        },
        data() {
            return {

            }
        }
    };
</script>
