<template>
    <div>
        <h1>Welcome in simple admin pane for projects and tasks</h1>

        <hr/>

        <p>
            Choose a section:
            <router-link to="/admin" class="btn" @click.native="mode = 'admin'" v-bind:class="{'btn-success': mode =='admin', 'btn-outline-success': mode !=='admin'}">Admin panel</router-link>
            <router-link to="/client" class="btn" @click.native="mode = 'client'" v-bind:class="{'btn-success': mode =='client', 'btn-outline-success': mode !=='client'}">Client panel</router-link>
        </p>

        <hr/>

        <router-view></router-view>

    </div>
</template>
<script>
    export default {
        data() {
            return {
                mode: 'admin'
            }
        }
    };
</script>
