<template>
    <div>
        <h1>Projects</h1>
        <div class="row">
            <div class="col-4">
                <ul>
                    <li v-for="project in projects" :key="project.id">
                        <a href="#" @click="displayDetails(project)">{{ project.title }}</a>
                    </li>
                </ul>

                <div  v-if="!readOnly" class="alert alert-info">
                    <h4>Add Project</h4>
                    <input type="text" class="form-control" v-model="newProjectTitle" placeholder="Title"/>
                    <textarea v-model="newProjectDescription" class="form-control" placeholder="Description"></textarea>
                    <button @click="createProject()" class="btn btn-primary">Create Project</button>
                </div>
            </div>
            <div class="col-8" v-if="selectedProject.title">

                <h2>{{ selectedProject.title}}</h2>
                <p>{{ selectedProject.description}}</p>


                <div v-if="!readOnly && editProject" class="alert alert-warning">

                    <input type="text" class="form-control" v-model="editProjectTitle" placeholder="Title"/>
                    <textarea v-model="editProjectDescription" class="form-control" placeholder="Description"></textarea>
                    <button @click="updateProject()" class="btn btn-warning">Update Project</button>
                </div>

                <a v-if="!readOnly && !editProject" class="btn btn-warning" @click.prevent="enterEditProjectMode()">
                    Edit Project
                </a>

                <a v-if="!readOnly" class="btn btn-danger" @click.prevent="deleteProject()" >Delete Project</a>

                <h3>Tasks:</h3>
                <p v-if="(selectedProject.tasks.length === 0)" class="alert alert-danger">No tasks added</p>
                <div v-for="task in selectedProject.tasks" :key="task.id">
                    <h4>{{task.title}}</h4>
                    <p>{{task.description}}</p>

                    <hr/>
                </div>

                <div v-if="!readOnly">
                    <hr/>

                    Add task: <br/>

                    <input type="text" class="form-control" v-model="newTaskName" placeholder="Title"/>
                    <textarea v-model="newTaskDescription" class="form-control" placeholder="Description"></textarea>
                    <button @click="saveNewTask()" class="btn btn-primary">Save task</button>
                </div>

            </div>
        </div>

    </div>
</template>
<script>
    import ProjectService from "../services/project.service"
    import TaskService from "../services/task.service"
    export default {
        props: {
           readOnly: Boolean
        },
        data() {
            return {
                projects: [],
                selectedProject: {},
                newTaskName: "",
                newTaskDescription: "",
                editProject: false,
                editProjectTitle: "",
                editProjectDescription: "",
                newProjectTitle: "",
                newProjectDescription: "",
            }
        },
        created() {
            ProjectService
                .getAll()
                .then(result => {
                    this.projects = result.data.data
                })
        },
        methods: {
            displayDetails(project) {
                this.selectedProject = project
            },
            saveNewTask() {
                TaskService
                    .save({
                        project_id: this.selectedProject.id,
                        title: this.newTaskName,
                        description: this.newTaskDescription
                    })
                    .then(res => {
                        if(res.data.task) {
                            this.selectedProject.tasks.push(res.data.task)
                            this.newTaskName = ""
                            this.newTaskDescription = ""
                        }
                    })
            },
            deleteProject() {
                ProjectService
                    .delete(this.selectedProject.id)
                    .then(res => {
                        this.projects = this.projects.filter(project => project.id != this.selectedProject.id)
                        this.selectedProject = {}
                    })
            },
            enterEditProjectMode() {
                this.editProject = true
                this.editProjectTitle = this.selectedProject.title
                this.editProjectDescription = this.selectedProject.description
            },
            leaveEditProjectMode() {
                this.editProject = false
                this.editProjectTitle = ""
                this.editProjectDescription = ""
            },
            updateProject() {
                ProjectService
                    .update(this.selectedProject.id, {
                        title: this.editProjectTitle,
                        description: this.editProjectDescription
                    })
                    .then(res => {
                        if(res.data.project) {
                            this.selectedProject.title = res.data.project.title
                            this.selectedProject.description = res.data.project.description
                            this.leaveEditProjectMode()
                        }

                    })
            },
            createProject() {
                ProjectService
                    .save({
                        title: this.newProjectTitle,
                        description: this.newProjectDescription
                    })
                    .then(res => {
                        if(res.data.project) {
                            this.projects.push(res.data.project)
                            this.newProjectTitle = ""
                            this.newProjectDescription = ""
                        }
                    })
            },
        }
    };
</script>
